/docs
/osa0/koodit.txt
/osa1/kurssitiedot/node_modules
/osa1/anekdootit/node_modules
/osa1/unicafe/node_modules
/osa2/kurssitiedot/node_modules
/osa2/puhelinluettelo/node_modules
/osa2/maiden_tiedot/node_modules
/osa4/blogilista/.env
/osa4/blogilista/node_modules
/osa5/bloglist-frontend/node_modules
/osa5/custom-hooks/node_modules
/osa6/redux-anecdotes/node_modules
/osa6/unicafe-redux/node_modules
/osa7/routed-anecdotes/node_modules
/osa8/library-backend/node_modules
/osa8/library-frontend/node_modules
/osa8/library-backend/.env